.character-card {
  display: block;  
  max-width: 220px;  
  /* width: 100%;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-decoration: none;
  transition: transform 0.2s ease;
  margin: 0 auto;    */
}

.character-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  height: auto;
}

.character-card:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
  cursor: pointer;
}

h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.character-grid {
    display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
